node_modules
.DS_Store
Thumbs.db

# Ignorar archivos y carpetas generados por herramientas de desarrollo
.idea/
.vscode/
*.iml

# Ignorar archivos y carpetas generados por Maven
backend/target/
backend/target/

# Ignorar archivos y carpetas generados por Gradle
/.gradle/
/build/

# Ignorar archivos y carpetas generados por IntelliJ IDEA
/.idea/
/*.iml

# Ignorar archivos y carpetas generados por Eclipse
/.settings/
/.project
/.classpath

# Ignorar archivos y carpetas generados por NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignorar archivos y carpetas generados por VS Code
/.vscode/

# Ignorar archivos de logs
*.log

# Ignorar archivos de configuración de entorno
.env